/*colors theme*/
:root{
  --ThemeColor-dark : rgb(78, 78, 76);
  --ThemeColor-light-green : rgb(55, 199, 79);
}


/*Site css */
html,body{
  padding: 0%;
  max-width: 100%;
  overflow-x: hidden;
  
}
body {
  zoom: 1.3 ; 
 transform: scale(1);
  width: 100%;
  height: 100%;
  zoom: 130%;
  background-color: rgb(220,220,220);
}
header{

 width:100%;
 top:0;
 position:  relative;
  
}

footer{
  background-color: var(--ThemeColor-dark);
  background: -moz-linear-gradient(180deg,whitesmoke 15%);

  background: -webkit-linear-gradient(180deg,whitesmoke 15%);

  background: -ms-linear-gradient(180deg,whitesmoke 15%);
  background: -o-linear-gradient(180deg,whitesmoke 15%);
  color: white;
  text-decoration: none;
}

nav{
  padding:0;
}
.borders-curved
{
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.nav-head {
  position: relative;
  height: 100px;
  width: 100%;
  margin-right:-0.4%;  
  background-image: url("../images/banniere-symbole-avion.jpg");
  background-size: cover;
  background-position: 50%, 50%;  


}

.header-text-area{

  position: absolute;
  top:0;

  clip-path: polygon(0% 0%, 70% 0%, 100% 100%, 0% 100%) ;
  width: 45%;
  height: 100%;
  padding-top: 20px;
  background-color: white;
  background: -moz-linear-gradient(60deg,rgb(78, 78, 76) 35%, rgba(255,0,0,0) 100%),
              -moz-linear-gradient(45deg,rgb(78, 78, 76) 35%, rgba(255,0,0,0) 100%);
  background:-webkit-linear-gradient(60deg,rgb(78, 78, 76) 35%, rgba(255,0,0,0) 100%),
             -webkit-linear-gradient(45deg,rgb(78, 78, 76) 35%, rgba(255,0,0,0) 100%);
  background:-ms-linear-gradient(60deg,rgb(78, 78, 76) 35%, rgba(255,0,0,0) 100%),
             -ms-linear-gradient(45deg,rgb(78, 78, 76) 35%, rgba(255,0,0,0) 100%);
  background: -o-linear-gradient(60deg,rgb(78, 78, 76) 35%, rgba(255,0,0,0) 100%),
              -o-linear-gradient(45deg,rgb(78, 78, 76) 35%, rgba(255,0,0,0) 100%);


  font-size-adjust: inherit;

}

.nav-head-text{
  text-align: center;
  margin-top: 20px;
  left:-25;
  color: white;
  text-transform: capitalize;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 35px;
 }
 

.div-menu{

  width: 100%;
  height: 70px;
  position: sticky;
  bottom:0;
  border-radius: inherit;
  margin-right: -1

  
}
.menu
{
  height: 100%;
  width: 100%;
  padding: 0.5% 0 0 25%;
  bottom: 0;
  margin-bottom:0;
 
 

}

ul {
  position: absolute;
  
  text-align: center;
  list-style-type: none;
  

  
  bottom:0;
  overflow: hidden;
  background-color: var(--ThemeColor-dark);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;


}

li {
  float: left;
  margin-right: 1%;
  height: inherit;
  
}
a {
  text-decoration:none;
  color:white;
}

li a {
  margin: 0;
  display: block;
  color: white;
  text-align: center;
  background-color: inherit;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding-left:auto;
  padding-right: 50px;
  transition: color 0.5s;
  
}

 li a:hover{
  background-color: var(--ThemeColor-light-green);
  color: white;
  
}

 .go-up{

  text-align: top;
  text-decoration: none;
  color: var(--ThemeColor-light-green);
  height: 100%;
  width:10%;
  margin-left: 25%;
  float: right; 

  background-color: var(--ThemeColor-dark);
 
  border:none;
 

}


.go-up:hover
{
  text-decoration:none;

}
.navbar-brand {
  text-align: center;
  float :left;
  margin-left:50px;
  margin-right: 50px;
}

.content-intro
{
  padding:15% 0% 15% 1%;
  font-size-adjust: inherit;
  font-size: 20px;
  font-family: 'Calibri', sans-serif;
  
} 

.content{
  padding: auto;
  position: relative;
}
.bienvenue {
  text-align: center;
  margin-bottom: 1%;
 
}

.presentation {
  top: 5%;
  padding-right: 10%;
  padding-left: 10%;
  position: relative;
  text-align: center;
  float: left;
  border-radius: 10% / 1%;
  
}

.presentation::before{
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
}

.start-viz{
  background-image: url("../images/zz.jpeg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  

  clip-path:circle(30% at 0% 45%);

  transition: clip-path, 1s;

}
.start-viz:hover{
  clip-path: circle(100% at 0% 50%);
}

.start {
  position: absolute;
  top: 40%;
  left: 1%;
  width: 25%;
  height: 10%;
  padding: auto;

  
  border: 0;
 
  
  font-size: 35px ;
  
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(21,21,21,0.8);
  border-radius: 2px;
  background-color: var(--ThemeColor-light-green);
  transition: clip-path, 1s;
  transition: top, 1s;
}


.start:hover {
  transition-duration: 1s;
  clip-path: circle(200% at 0% 50%);
  background-color: rgb(102, 231, 124);
  border-width: 2px;
  border-color: rgb(109, 187, 117);
  
 

}
a {
  color: #030303;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;

  text-decoration: none;
}
a:hover {
  color: #0cec71;
}

section {
  margin: 0%;
  display: block;
}



.part_div {
  position: relative;
  padding-top: 1%;
  left:1%;
  margin: 1px 0% 1px 0%;
 
  text-align: center;

  font-family: 'Calibri', 'sans serif';
  width: 100%;
  height: 100%;
  background-color: whitesmoke ;

}
.part_header{
  position: relative;
  display: flex;
  width: 100%;
  height: 4em;
  text-align:center;
  background-color: var(--ThemeColor-dark);

  
  color:white;
  border-width: 1px 0 1px 0;

  border-color: var(--ThemeColor-dark);
  
  /*background: -moz-linear-gradient(right,whitesmoke 10%,  rgb(78, 78, 76) 50%, rgba(78, 78, 76,0.1) 90%, rgba(245,245,245,0) 100% );

  background: -webkit-linear-gradient(right,whitesmoke 10%,  rgb(78, 78, 76) 50%, rgba(78, 78, 76,0.1) 90%, rgba(245,245,245,0) 100% );

  background: -ms-linear-gradient(right,whitesmoke 10%,  rgb(78, 78, 76) 50%, rgba(78, 78, 76,0.1) 90%, rgba(245,245,245,0) 100% );
  background: -o-linear-gradient(right,whitesmoke 10%,  rgb(78, 78, 76) 50%, rgba(78, 78, 76,0.1) 90%, rgba(245,245,245,0) 100% );
*/

}
.part_title{
  width: 25%;
  position:relative;
  margin: 0 0 0 38.5%;
  height: 100%;
  
  text-align:center;

  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100% );
  background-color: var(--ThemeColor-light-green);
  border-width: 3px;
  border-style:outset;
  border-color: var(--ThemeColor-light-green);  
}
.part-head-btn{
  position: relative;
  margin: 0 5% 0 15%
}

.viz-summary{

  text-align: center;
  width:100%;
  margin:auto;
}

#gauche {
  float: left; /* Le cadre sort du flux */
  margin-left: 20%;
  height: 200px;
  width: 200px;
}
#droite {
  float: left; /* ou margin-left:202px;  */
  margin-left: 30%;
  height: 200px;
  width: 200px;
}
label {
  display: block;
  font: 1rem "Fira Sans", sans-serif;
}

.divLeft {
  float: left;
  margin-left: 2%;
}
.date {
  margin-right: 2%;
}
.divRight {
  float: left;
  margin-left: 2%;
}
#year {
  margin-left: 5%;
}
#polluant,
#region {
  float: left;
  margin-right: 0%;
  margin-left: 2%;
}
.polluant,
.region {
  float: left;
  margin-right: 0%;
  margin-left: 2%;
}

#region2 {
  margin: none;
  float: left;
  margin-top: 0%;
  margin-left: 60%;
}

.svg2 {
  margin-left: 20%;
}

#carte {
  position:relative;
  margin:1% 1% 5% 5% ;
  padding:auto;
  float:left;
  display: block;
  border: 1px;
  box-shadow: 0px 0 10px var(--ThemeColor-dark);

}

 
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  /* margin : 100px ; */
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.x-path {
  stroke-width: 2px; // desired stroke width (line height)
  vector-effect: non-scaling-stroke; // line height won't scale
}