body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background-color: rgb(158, 192, 214);
  margin-top: 0%;
}

.back {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url("images/zz.jpeg");
  background-size: 100%;
  margin-left: 0%;
}
hr {
  border: 5px solid rgb(113, 119, 113);
  border-radius: 2px;
  margin-left: 40%;
  margin-right: 50%;
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

li {
  float: left;
}

li a {
  margin: 0;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-left: 50px;
  padding-right: 80px;
}

.bienvenue {
  text-align: center;
  margin-top: 25%;
}

.presentation {
  text-align: center;
  margin-left: 6%;
  margin-right: 6%;
  color: rgb(5, 5, 5);
}

button {
  line-height: 2;

  font-size: 3rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px rgb(5, 0, 0);
  background-color: rgb(54, 117, 189);
  margin-left: 37%;

  border: none;
  padding: 10px 0 10px 0;
  border-radius: 50%;
  background: #478bf9;
  font: bold 20px Arial;
  color: #fff;
  width: 350px;
}
a {
  color: #030303;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;

  text-decoration: none;
}
a:hover {
  color: #0cec71;
}

section {
  margin: 0%;
  display: block;
}

#gauche {
  float: left; /* Le cadre sort du flux */
  margin-left: 20%;
  height: 200px;
  width: 200px;
}
#droite {
  float: left; /* ou margin-left:202px;  */
  margin-left: 30%;
  height: 200px;
  width: 200px;
}
label {
  display: block;
  font: 1rem "Fira Sans", sans-serif;
}

.divLeft {
  float: left;
  margin-left: 2%;
}
.date {
  margin-right: 2%;
}
.divRight {
  float: left;
  margin-left: 2%;
}
#year {
  margin-left: 5%;
}
#polluant,
#region {
  float: left;
  margin-right: 0%;
  margin-left: 2%;
}
.polluant,
.region {
  float: left;
  margin-right: 0%;
  margin-left: 2%;
}

#region2 {
  margin: none;
  float: left;
  margin-top: 0%;
  margin-left: 60%;
}

.svg2 {
  margin-left: 20%;
}

#carte {
  margin: 8%;
}
